.bola {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 80%;
    display: inline-block;
    margin : 5px;
}
.cuadrado {
    height: 50px;
    width: 50px;
    background-color: red;
    display: inline-block;
    margin : 5px;
}
.separa{
    border-top: 1px black solid;
    border-bottom: 3px black solid;
    height: 4px;
}

.cuadradob{
    height: 50px;
    width: 50px;
    background-color: blue;
    display: inline-block;
}
.bolab{
    border-radius:50%;
    height: 50px;
    width: 50px;
}
.mosca{
   position: fixed;
   color : blue;
   top : 10px;
   right: 10px;
}
.primeraLetra{
    font-size: 200px;
    margin-top: -80px;
   
}
.barcelona{
    margin-top: -250px;
    font-size:30px;
}
.gato{
    
}