body{
    background-color: bisque;
    padding: 50px 50px 50px 50px;
        
}
h1.titulo-principal {
    border: 1px blue solid;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    background-color: white;
}
h1.titulo-principal:hover{
    background-color: aquamarine;
}
ul.lista-ejercicios li{
    font-size: 1.5em;
    font-weight: bold;
}
.fnt-red{
    color: red;
}
.fnt-blue{
    color: blue;
}
#nombre_alumno {color: red;text-decoration: underline;}

.titulo{
    color: rgb(137, 137, 187);
    font-size: 30px;
    font-style: italic;
}
.texto{
    color: rgb(7, 7, 121);
    font-size: 15px;
}
.destacado{
    font-weight: bold;
    font-style: oblique;
}

